.tab_box .tab_btn.active{
    color: blue;
}

h1{
    text-align: center;
}

.content_box .content{
    display: none;
}

.content_box .content.active{
    display: block;
}

@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}